/* Add CSS Styling */
.left
.right {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.left {
    background-color: rgb(0,0,0);
    color: #fff;
}

.right {
    background-color: yellow;
}