body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
  padding: 16px 0px 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px 10px 0px;
  text-align: center;
  padding: 10px;
}

button {
  display:block;
  background: white;
  border: 1px solid #eee;
  margin: 0px auto;
  padding: 7px 20px;
  
}